/*@import 'header.scss';
@import 'type.scss';
@import 'vars';
@import 'timeline-item';
font-family: 'Bangers', cursive;
font-family: 'Merriweather', serif;
*/

.intro{
  color:#ffffff;
  background-image: url("../img/arena.jpg");
  height: 100vh;
  background-size: cover;
}

.main-content{
  color:#ffffff;
  padding-top: 10rem;
  height: 100vh;
  background-color: #12223d;
}

h1{
  font-family: 'Bangers', cursive;
  font-size: 5rem;
}

p{
  font-family: 'Merriweather', serif;
}

