/*@import 'header.scss';
@import 'type.scss';
@import 'vars';
@import 'timeline-item';
font-family: 'Bangers', cursive;
font-family: 'Merriweather', serif;
*/

.intro{
  color:#ffffff;
  background-image: url("../img/arena.jpg");
  height: 100vh;
  background-size: cover;
}

.main-content{
  color:#ffffff;
  padding-top: 2rem;
  height: 100vh;
  background-color: #12223d;
}

h1{
  font-family: 'Bangers', cursive;
  font-size: 5rem;
  color: #598cc3;
  padding-bottom: 2rem;
}

h2{
  font-family: 'Bangers', cursive;
  font-size: 5rem;
  background-color:#12223d;
  width:75%;
  text-align: center;
}

p{
  font-family: 'Merriweather', serif;
  background-color: #f2b655;
  width:100%;
  padding: 2rem;
}

