body{
  font-family: merriweather, serif;
  font-weight: 400;
  font-style: normal;
}

h1{

  font-family: giza-five, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 5rem;
  color: #598cc3;
  line-height: 1;
  border-bottom: #f1b654 solid .2rem;
}

h2{
  font-family:giza-five, serif;
  font-size: 5rem;
  background-color:#f2b655;
  width:150%;
  text-align: center;
}


h3{
  color: #f2b655;
  font-family: 'Bangers', cursive;
  font-size: 5rem;
}

p{
  font-family: 'Merriweather', serif;
  font-size:1.2rem;
  padding-top:2rem;
}

@media only screen and (max-width: 600px) {
  .image{
    width:10%;
  }
}
